
@media (min-width: 800px){

    .ProjectsPagemain{

        display: grid;
      
        
        width: 100%;
        height: 100%;
    
        
    }
}
@media (max-width: 800px){
    .ProjectsPagemain{

        display: grid;
      
        
        width: 100%;
        height: 100vh;
    
        
    }    
}
.projects{
    margin-top: 20px;
    margin-bottom: 20px;


    display: flex;
    flex-wrap: wrap;
   overflow: scroll;
   align-items: flex-start;
   justify-items: center   ;

   align-content: flex-start;
   justify-content: center;
   gap: 10px;
}
.project{
    width: 200px;
    height: 200px;
    border: 5px solid lightcyan;
    border-radius: 13px;
    display: grid;
    align-items: center;
    color: black;
    font-size: 30px;


    grid-template-rows: 1fr  1fr;
    grid-template-columns: 1fr  1fr;
 
    align-content: center;
    justify-items: center;

    box-shadow: 5px 5px 15px gainsboro;
}
.project:hover{
    border: 5px solid lightblue;
    
}
.project:active{
    filter: blur(2px);    
}
.project h1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom: 0px solid lightcyan;
   

    grid-row: 2;
    grid-column: 2;
    color: #809bbf;

}
.project .corner {
    width: 100%;
    height: 100%;
}
.project .ca{
    grid-row: 1;
    grid-column: 1;
    border-radius: 0px;
    border-top-left-radius: 10px;
    background-color: lightgreen;

}
.project .cb{
    grid-row: 1;
    grid-column: 2;
    border-radius: 0px;
    border-top-right-radius: 10px;
    background-color: lightblue;

}
.project .cc{
    grid-row: 2;
    grid-column: 1;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    background-color: lightcoral;

}
.project .cd{
    grid-row: 2;
    grid-column: 2;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #e6d8ad;

}
.float{
    position:fixed;
	width:80px;
	height:80px;
	bottom:60px;
	right:40px;
    z-index: 2;
	background-color:white;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 50px;
    justify-content: center;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    border: 2px solid black;
}
.float:hover{
    z-index: 2;
    background-color: gray;
    border: 2px solid gray;
    color: whitesmoke;

}

.float:active{
 
    background-color: black;
    color: white;
 }
 
 